{% extends 'base.html' %}

{% load static %}

{% block title %} |Home_page{% endblock title %}

{% block header1 %}  {% include 'header1.html' %}  {% endblock header1  %}

{% block header %}  {% include 'header.html' %}  {% endblock header  %}

{% block carousel %}  {% include 'carousel.html' %}  {% endblock carousel  %}

{% block content %}

<div class="container-fluid mt-5 bg-light p-5">
    <h2 class="produ text-center">Our Category</h2>
    <div class="row justify-content-center gy-3">
        {% if category  %}
           {% for item in category %}
           <div class="col-10 col-sm-10 col-md-4">
            <div class="card h-100">
                <img src="{{item.img.url}}" class="card-img-top h-75" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{item.title}}</h5>
                  <p class="card-text">{{item.description}}</p>
                  <a href="{% url 'categories' item.slug %}" class="btn btn-primary">See more</a>
                </div>
              </div>
        </div>
           {% endfor %} 
        {% endif %}
            
       
        
    </div>
</div>


{% endblock content %}
    
{% block contact %}  {% include 'contact.html' %}  {% endblock contact  %}

{% block footer %}  {% include 'footer.html' %}  {% endblock footer  %}