{% extends 'base.html' %}

{% load humanize %}

{% block title %} Displaycart {% endblock title %}

{% block header1 %}  {% include 'header1.html' %}  {% endblock header1  %}

{% block header %}  {% include 'header.html' %}  {% endblock header  %}

{% block carousel %}  {% include 'carousel.html' %}  {% endblock carousel  %}

{% block content %}

<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-10 col-md-4">
      <img src="{{profile.pix.url}}" class="w-75" alt="">
          <ul class="list-unstyled ">
              <li class="mb-3"><a href="{% url 'index' %}" class="btn w-75 btn-outline-primary">Home</a></li>
              <li class="mb-3"><a href="{% url 'profile' %}" class="btn w-75 btn-outline-primary">Profile</a></li>
              <li class="mb-3"><a href="{% url 'profile_update' %}" class="btn w-75 btn-outline-primary">Profile Update</a></li>
              <li class="mb-3"><a href="{% url 'displaycart' %}" class="btn w-75 btn-outline-primary">Shopcart</a></li>
              <li class="mb-3"><a href="{% url 'password' %}" class="btn w-75 btn-outline-primary">Password Change</a></li>
          </ul>
    </div>

    <div class="col-10 col-sm-10 col-md-8">
      <div class="table-box table-responsive">
        <div class="table">
          <table class="table">
            <thead>
              <th>S/N</th>
              <th>Delete</th>
              <th>Quantity</th>
              <th>Product</th>
              <th>Name</th>
              <th>Modify</th>
              <th>Amount</th>
              <th>Price</th>
            </thead>
            <tbody>


              
              {% if trolley %}
                
                {% for items in trolley %}

                <tr>
                  <td>
                    <form action="{% url 'deleteitem' %}" method="POST">
                    {% csrf_token %}
                      <input type="hidden" name="item_id" value="{{items.id}}" id="" min="0">
                      <button type="submit" onclick="return confirm('Are you sure want to delete?')" class="btn"><i class="fa-solid fa-trash"></i></button>
                    </form>
                  </td>
                  <td><img src="{{items.product.img.url}}" width="30px" height="30px" alt=""></td>
                  <td>{{items.product.title}}</td>
                  <td>
                    <form action="{% url 'change' %}" method="POST">
                    {% csrf_token %}
                      <input type="hidden" name="product_id" value="{{items.id}}">
                      <input type="number" value="1" name="quant" min="{{items.min_quantity}}" max="{{items.max_quantity}}">
                      <button type="submit" onclick="return confirm('Do you want to modify cart items?') class="btn"><i class="fa-solid fa-circle-check"></i></button>
                    </form>
                  </td>
                  <td>{{items.quantity}}</td>
                  <td>${{items.product.price|floatformat:2|intcomma}}</td>
                  <td>${{items.amount|floatformat:2|intcomma}}</td>
                </tr>
  
                  
                {% endfor %}
                  
                
              {% endif %}
                
              
              
             </tbody>
            <table class="table">
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Sub-total: {{subtotal|floatformat:2|intcomma}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>vat(7.5%):{{vat|floatformat:2|intcomma}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Total: {{total|floatformat:2|intcomma}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><a href="{% url 'checkout' %}" class="btn btn-success">Checkout</a></td>
                </tr>
              </tbody>
            </table>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
    
{% block contact %}  {% include 'contact.html' %}  {% endblock contact  %}

{% block footer %}  {% include 'footer.html' %}  {% endblock footer  %}