

<div class="footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-3">
                <h2 class="team"><em>ShoeByEliteDev..</em></h2>
                <p>...A shopping experience</p>
            </div>
            <div class="col-10 col-md-4">
                <h2>Contact us</h2>
                <h4><i class="fa-solid fa-phone"></i><span>+1 456 6578 8785</span></h4>
                <h4><i class="fa-solid fa-envelope"></i><span>info@youremail.com</span></h4>
            </div>
            <div class="col-10 col-md-2">
                <ul class="list-unstyled">
                    <li class="mb-3"><a href="">Home</a></li>
                    <li class="mb-3"><a href="">Gallery</a></li>
                    <li class="mb-3"><a href="">About</a></li>
                    <li class="mb-3"><a href="">FAQ</a></li>
                    <li class="mb-3"><a href="">Blog</a></li>
                </ul>
    _        </div>
            <div class="col-10 col-md-3">
                <h4 class="mb-3">Social Handles</h4>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href=""><i class="fa-brands fa-whatsapp"></i></a></li>
                    <li class="list-inline-item"><a href=""><i class="fa-brands fa-tiktok"></i></a></li>
                    <li class="list-inline-item"><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href=""><i class="fa-brands fa-linkedin"></i> </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer2">
        <p class="text-center pt-3 pb-2 border-top">ShopByEliteDev | copyright &copy; 2023 | Made with love: Team Elite Dev.
          <a href="#backtotop" class="btn" id="#backtotop">To top</a></p>
    </div>
</div>